  div {
    display: flex;
    width: 20rem;
    background-color: black;
    justify-content: center;
  }
  h1 {
    position: absolute;
    height: 50px;
    width: 644px;
    margin: -50px;
    text-align: center;
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
  }
  .clip {
    display: none;
    width: 100%;
    background-color: black;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
  }
  figure{
    align-items: center;
    justify-items: auto;
    text-align: center;
  }
  p {
    font-size: x-large;
    font-style: oblique;
    color: gold;
  }
  .animthing {
    animation: slidein 4s,
      dissolve 2s 6s forwards;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
    }

    to {
      margin-left: 0%;
    }
  }

  @keyframes dissolve {
    from {
      opacity: 100%;
    }

    to {
      opacity: 0%;
    }
  }
  #wrapper, #animim{
    width: 1280px;
    height: 720px;
    object-fit: contain;
    background-color: transparent;
  }